    <!DOCTYPE html>
    <html lang="en">
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <link rel="stylesheet" href="frontend/libraries/bootstrap/css/bootstrap.css">
        
        <style>
          .app-container {
            height: 100vh;
            width: 100%;
          }
          .complete {
            text-decoration: line-through;
          }
        </style>
      </head>
      <body>
    <section class="vh-100" style="background-color: #A2E9EB;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            <div class="card rounded-3">
              <div class="card-body p-4">
    
     <h3>Todo App</h3>
          <div class="d-flex align-items-center mb-3">
            <div class="form-group mr-3 mb-0">
              <input
                ng-model="yourTask"
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Enter a task here"
              />
            </div>
            <button
              type="button"
              class="btn btn-primary mr-3"
              ng-click="saveTask()"
            >
              Save
            </button>
            <button type="button" class="btn btn-warning" ng-click="getTask()">
              Get Tasks
            </button>
          </div>
    
                <table class="table mb-4">
                  <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Todo item</th>
                      <th scope="col">Status</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Buy groceries for next week</td>
                      <td>In progress</td>
                      <td>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="submit" class="btn btn-success ms-1">Finished</button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Renew car insurance</td>
                      <td>In progress</td>
                      <td>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="submit" class="btn btn-success ms-1">Finished</button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Sign up for online course</td>
                      <td>In progress</td>
                      <td>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="submit" class="btn btn-success ms-1">Finished</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
</body>
</html>